.services-section {
  & > div:nth-of-type(1) {
    padding: 10px;
    display: flex;
    justify-content: center;
    background: var(--primary-color);
  }
  & > div:nth-of-type(2) {
    text-align: center;
    padding: 20px;
    background: #d8cac0;
    & h3 {
      font-size: var(--text-3xl);
      font-weight: var(--font-bold);
      color: var(--primary-color);
      text-transform: uppercase;
    }
    & p {
      font-size: var(--text-lg);
      font-weight: var(--font-semibold);
    }
  }

  & > div:nth-of-type(3) {
    padding: 60px 30px;
    display: grid;
    gap: 50px;
    justify-content: center;
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: 1fr 1fr;

    & img {
      border-radius: 10px;
    }

    & > div {
      display: flex;
      gap: 20px;
      & > div {
        display: flex;
        flex-direction: column;
        text-align: center;

        & p:nth-child(1) {
          font-size: var(--text-lg);
          font-weight: var(--font-semibold);
          color: #ffc200;
        }
        & button {
          margin-top: 10px;
          padding: 3px 7px;
          font-size: var(--text-xs);
          font-weight: var(--font-semibold);
          align-self: center;
          background: var(--primary-color);
          color: var(--secondary-color);
        }
      }
    }
    & > div:nth-child(3),
    & > div:nth-child(4) {
      & > div {
        & p:nth-child(1) {
          color: var(--primary-color);
        }
        & button {
          background: var(--secondary-color);
          color: var(--primary-color);
        }
      }
    }
  }
  & > div:nth-of-type(4) {
    height: 50px;
    background: var(--secondary-color);
  }
}
