@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital@0;1&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colors */
  --white: #fff;
  --primary-color: #de191b;
  --secondary-color: #ffb602;
  /* font family */
  --primary-font: "Poppins";
  --secondary-font: "secondaryfont";
  --tertiary-font: "tertiaryfont";

  /* fonst sizes */
  font-size: 16px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;

  /* font weigths */
  --font-thin: 100;
  --font-extralight: 200;
  --font-ligth: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
}

* {
  font-weight: var(--font-regular);
  font-family: var(--primary-font);
  font-size: var(--text-base);
}

body {
  display: grid;
  grid-template-rows: 100px 1fr auto;
}

header {
  top: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: var(--primary-color);
  & nav > ul {
    display: flex;
    gap: 20px;
    & li a {
      font-weight: var(--font-semibold);
      padding: 10px;
      font-size: var(--text-2xl);
      color: var(--white);
      text-transform: uppercase;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
}

.presentation-section {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min(1000px, 100%);
  padding: 40px 0px;

  & > div {
    display: flex;
    justify-content: space-between;
    & h2 {
      display: flex;
      gap: 10px;
      color: var(--primary-color);
      font-size: var(--text-xl);
      text-transform: uppercase;
      font-weight: var(--font-semibold);
    }
    & p {
      margin-left: 35px;
    }
    & button {
      align-self: start;
      background: var(--primary-color);
      color: var(--white);
      padding: 5px 30px;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight: var(--font-semibold);
    }
  }
}

.menu-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background: var(--primary-color);
  & img {
    align-self: center;
  }

  & h2 {
    background: var(--secondary-color);
    padding: 10px;
    font-size: var(--text-4xl);
    text-align: center;
    color: var(--white);
    font-weight: var(--font-bold);
  }
  & h3 {
    padding: 10px;
    font-size: var(--text-3xl);
    color: var(--secondary-color);
    font-weight: var(--font-bold);
    text-align: center;
  }
  & > p {
    color: var(--white);
    text-align: center;
  }
  & button {
    align-self: center;
    background: var(--secondary-color);
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: var(--font-semibold);
    color: var(--primary-color);
  }
}

.menu-section__bento {
  padding: 20px 0;
  align-self: center;
  display: grid;
  gap: 75px;
  width: min(1100px, 100%);
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
  }
}

.coffe-section {
  position: relative;
  & > div:nth-of-type(2) {
    padding: 40px;
    & h2 {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #842816;
      font-weight: var(--font-bold);
      font-size: var(--text-5xl);
    }

    & div {
      width: 600px;
      margin-left: 40px;
      & h3 {
        color: #591103;
        font-size: var(--text-xl);
        font-weight: var(--font-bold);
      }
      ul {
        list-style: circle;
        margin-left: 60px;
      }
    }
  }

  & > div:nth-of-type(3) {
    padding: 60px;
    background: var(--secondary-color);
    & p {
      margin-left: 100px;
      font-weight: var(--font-bold);
      width: 600px;
      text-wrap: balance;
    }
  }
}

.coffe-add {
  display: flex;
  flex-direction: column;

  & > img:nth-child(1) {
    align-self: end;
    margin-right: 50px;
  }

  & button {
    align-self: end;
    padding: 10px 20px;
    text-transform: uppercase;
    color: var(--white);
    font-size: var(--text-xl);
    background: var(--primary-color);
    font-weight: var(--font-semibold);
    border-radius: 16px;
    margin: 40px;
  }

  bottom: 30px;
  right: 30px;
  position: absolute;
}

/* footer */
footer {
  & > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    background: var(--secondary-color);
    padding: 40px 100px;

    & p {
      font-size: var(--text-xl);
      font-weight: var(--font-semibold);
    }
    & button {
      align-self: center;
      border: 3px solid black;
      background: var(--white);
      padding: 10px 30px;
      font-size: var(--text-lg);
      font-weight: var(--font-bold);
      border-radius: 100px;
    }
  }

  & > div:nth-of-type(2) {
    padding: 30px;
    display: grid;

    grid-template-columns: repeat(4, 250px);
    justify-content: space-around;
    & > div > h3 {
      font-weight: var(--font-semibold);
      font-size: var(--text-lg);
    }
    & ul > li {
      font-size: var(--text-sm);
    }
  }

  & hr {
    border: 2px solid black;
    width: 95%;
    margin: auto;
  }

  & > div:nth-of-type(3) {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;

    & > div {
      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & > p {
          font-size: var(--text-sm);
        }
      }
      align-self: center;
      display: flex;
      gap: 20px;
    }
  }
}
